.config-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
  }
  
  .config-title {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 2px solid black;
    padding-bottom: 6px;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .config-section {
    margin-top: 10px;
    padding: 12px;
    border-bottom: 1px solid lightgray;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .config-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 6px;
    flex-wrap: wrap; 
  }
  
  .config-select, .config-input {
    width: 200px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  .config-button {
    height: 30px;
    padding: 0 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    background-color: #a6acaa;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  .config-avatar img {
    border-radius: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .config-actions {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .guardar-cambios{
    background-color: #1976d2;
    color: white;
    padding: 10px 20px;
  }